.navbar {
  height: 100px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.navbar a {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-weight: bolder;
}

.previousCities {
  display: block;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
}
